<web-app xmlns="http://java.sun.com/xml/ns/j2ee" 
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	     version="2.4">
	
	<servlet>
		<servlet-name>SelectMobile</servlet-name>
		<servlet-class>com.sonu.web.MobileSelect</servlet-class>
		<init-param>
			<param-name>adminEmail</param-name>
			<param-value>singhsonu778@gmail.com</param-value>
		</init-param>
		<init-param>
			<param-name>adminName</param-name>
			<param-value>Sonu Singh</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>SelectMobile</servlet-name>
		<url-pattern>/SelectMobile.do</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>appName</param-name>
		<param-value>OCWCD Tutorials</param-value>
	</context-param>
	
	<context-param>
		<param-name>os</param-name>
		<param-value>Android</param-value>
	</context-param>
	
	<listener>
		<listener-class>com.sonu.listener.MobileContextListener</listener-class>
	</listener>
	
</web-app>
